@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, rgb(255, 255, 255));

  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;

  margin: 2rem auto;

  width: 100%;
  height: 2px;

  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */
/* set basic font sizes */
h2 {
  font-size: 3.5em;
}

p {
  font-size: 1.4rem;
}

/* container for all items- used for positioning as flex or block */
.allCardsWrapper {
  height: 100vh;
  width: 100vw;
  display: block;
}

/* single card instance- contains two divs- imageContainer and articleContainer */
.singleCard {
  display: block;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.753);
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

/* container to hold image and caption.Given relative position to aid captions absolute position */
.imageContainer {
  position: relative;
}

/* given width but no height- allow image to set its own height and avoid stretching/squashing image */
img {
  width: 100%;
}

/* full width of image container- absolute position and moved overtop of image. Justify content to align to left or right as needed */
figcaption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: none;
  width: 100%;
  position: absolute;
  bottom: 1em;
}

/* text contained within figcaption */
.captionText {
  background-color: var(--color-secondary);
  font-size: 2em;
  margin-left: 1em;
  text-align: center;
}

/* container for text elements- header, article and button */
.articleContainer {
  display: block;
  width: 100%;
  height: 40vh;
}

/* used to align contents without breakeing article container */
main {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

/* text element- overflow set to allow indefinate content */
article {
  height: 65%;
  overflow: scroll;
}

/* button styled to match defined colours */
button {
  margin-top: 1em;
  border-radius: 5px;
  border: none;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 50vw;
  height: 2.5em;
  font-size: 2em;
}

/* hover effect inverts colours and increases size of button */
button:hover {
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
}

/* larger device settings - 375 to 767*/
@media screen and (min-device-width: 375px) {
  h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  .singleCard {
    display: flex;
    width: 90vw;
    height: 27vw;
  }

  img {
    width: 40vw;
  }

  figcaption {
    justify-content: flex-end;
    margin-bottom: 50%;
  }

  .captionText {
    font-size: 0.9em;
    margin-right: 1em;
  }

  .articleContainer {
    display: flex;
    width: 50vw;
    height: 100%;
  }

  article {
    height: 60%;
    overflow: scroll;
  }

  p {
    font-size: 1.1em;
  }

  button {
    width: 20vw;
    height: 2.5em;
    font-size: 1em;
  }
}

/* larger device settings - 768 to 1224*/
@media screen and (min-device-width: 768px) {
  .allCardsWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    overflow: scroll;
  }

  .singleCard {
    margin: 3em;
    margin-bottom: 6em;
    display: block;
    width: 40vw;
    height: 50vh;
  }

  img {
    width: 40vw;
  }

  figcaption {
    justify-content: flex-start;
    margin-bottom: 1%;
  }

  .captionText {
    font-size: 1em;
    margin-right: 1em;
  }

  .articleContainer {
    display: block;
    width: 40vw;
    height: 80%;
  }

  article {
    height: 70%;
  }

  main {
    margin: auto;
    width: 38vw;
    height: 70%;
  }

  p {
    font-size: 1em;
  }

  button {
    width: 20vw;
    height: 2.5em;
    font-size: 1em;
  }
}

/* larger device settings - 1224 and above*/
@media screen and (min-device-width: 1224px) {
  .singleCard {
    display: flex;
    width: 42%;
    height: 14vw;
    margin-bottom: 1em;
  }

  img {
    width: 20vw;
  }

  figcaption {
    justify-content: flex-end;
    margin-bottom: 45%;
  }

  .captionText {
    font-size: 0.9em;
    margin-right: 1em;
  }

  .articleContainer {
    display: block;
    width: 100%;
    height: 100%;
  }

  main {
    margin: auto;
    width: 90%;
    height: 80%;
  }

  p {
    font-size: 0.8em;
  }

  button {
    width: 40%;
    height: 1.6rem;
    font-size: 0.7rem;
  }
}
