@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #184269;
  --color-secondary: #f4f4f4;
}

body {
  background: var(--color-secondary, rgb(255, 255, 255));

  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  margin: 2rem auto;

  width: 100%;
  max-width: 1500px;
}

.title,
.subtitle {
  margin: 0 auto;
  width: 100%;
  color: var(--color-primary, black);
  text-align: center;
  text-transform: uppercase;
}

.spacer {
  display: block;

  margin: 2rem auto;

  width: 100%;
  height: 2px;

  background-color: var(--color-primary, black);
  border: 0;
}

iframe {
  width: 100%;
  border: 0;
}

/* your styles here */

h2 {
  font-size: 200%;
}

p {
  font-size: 160%;
}

.allCardsWrapper {
  height: 100vh;
  width: 100vw;
  display: block;
}

.singleCard {
  display: block;
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.753);
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  position: relative;
}

img {
  width: 100%;
}

figcaption {
  width: 6em;
  background-color: var(--color-secondary);
  position: absolute;
  bottom: 8px;
  left: 40px;
  font-size: 1.5em;
}

.articleWrapper {
  display: block;
  width: 90vw;
}

main {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

button {
  border-radius: 5px;
  border: none;
  text-align: left;
  padding-left: 30px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  width: 40vw;
  height: 2.5em;
  font-size: 2em;
}

button:hover {
  background-color: red;
}

@media screen and (min-device-width: 414px) {
  .singleCard {
    display: flex;
    width: 90vw;
    height: 25vh;
    background-color: rgba(255, 255, 255, 0.753);
  }

  img {
    height: 25vh;
    width: 45vw;
  }

  figcaption {
    text-align: center;
    width: 6em;
    height: 1.2em;
    background-color: var(--color-secondary);
    position: absolute;
    top: 30px;
    left: 70%;
    font-size: 1em;
  }

  .articleWrapper {
    display: block;
    width: 50vw;
  }

  main {
    width: 40vw;
    height: 25vh;
  }

  p {
    font-size: 1.1em;
  }

  button {
    width: 20vw;
    height: 2.5em;
    font-size: 1em;
  }
}









@media only screen and (min-device-width: 768px) {
  .singleCard {
    margin-top: 3em;
    display: block;
    width: 40vw;
    height: 60vh;
    background-color: rgba(255, 255, 255, 0.753);
  }

  img {
    height: 25vh;
    width: 40vw;
  }

  figcaption {
    width: 6em;
    background-color: var(--color-secondary);
    position: absolute;
    bottom: 8px;
    left: 40px;
    font-size: 1.5em;
  }

  .articleWrapper {
    display: block;
    width: 50vw;
  }

  main {
    width: 40vw;
    height: 25vh;
  }

  p {
    font-size: 0.9em;
  }

  button {
    width: 20vw;
    height: 2.5em;
    font-size: 1em;
  }
}

@media only screen and (min-device-width: 1224px) {
  body {
    background-color: green;
  }
}
